@use "colors" as c;

.Home {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    .Intro {
        z-index: 4;
        position: relative;
        margin: 0 0 0 0;
        padding: 2em 0 5em 0;
        border-radius: 0 0 25em 0 / 0 0 12em 0;

        width: 100%;
        background-color: c.$color7;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;

        border-bottom: 1px solid c.$color1;

        

        .Title {

            h1 {
                font-size: 3em;
                margin-bottom: 0.5em;
                color: c.$color1;
            }

            h2 {
                font-size: 1.5em;
                margin-bottom: 1em;
                color: c.$color3;
            }

        }

        .Presentation {

            max-width: 80%;
            display: flex;
            flex-direction: column;
            align-items: center;

            p {
                font-size: 1.2em;
                margin: 0;
                text-align: left;
                max-width: 40vw;
                
            }

            img {
                width: 100%;
                max-width: 25em;
                border-radius: 25%;
                object-fit: cover;
                margin: 0 0 1em 0;
            }

        }

        .CV {
            h2 {
                font-size: 1.5em;
                margin-bottom: 1.5em;
                color: c.$color3;
                scroll-margin-top: 7em;
            }

            .btn {
                text-decoration: none;
                color: c.$color1;
                font-weight: bold;
                border: 2px solid c.$color1;
                padding: 1em 2em;
                border-radius: 5px;
                transition: background-color 0.3s, color 0.3s;

                &:hover {
                    background-color: c.$color1;
                    color: white;
                }

            }
        }

    }



    .Projects {

        z-index: 2;
        position: relative;
        margin: calc(-50vh + 3em) 0 0 0;
        padding: 50vh 0 10em 0;
        border-radius: 0 0 0 20em / 0 0 0 12em;


        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: column;
        width: 100%;

        
        
        background-color: c.$color5;

        h1 {
            color: c.$color1;
            margin: 0 0 0.5em 0;
            text-align: center;
            font-size: 3em;
        }


        .sort {
            
            display: flex;
            flex-direction: column;
            gap: 1em;

            .selectSort {

                display: flex;
                flex-direction: column;
                text-align: center;
                


                &:focus {
                    outline: 2px solid c.$color1;
                    
                }

                label {
                    
                    font-weight: bold;
                    margin-bottom: 0.5em;
                }




                .btn {
                    
                    text-align: center;
                    padding: 0.5em;
                    border-radius: 5px;
                    border: 1px solid c.$color3;

                    &:focus {
                        outline: 2px solid c.$color1;
                        
                    }
                }
    

            }





        }


        .Projects_list {

            gap: 5em;
            display: flex;
            flex-direction: column;

            
            margin: 2em 0 0 0;

            width: 60%;


            .Project {

                display: flex;
                flex-direction: column;
                align-items: right;

                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                background-color: c.$color7;
                border-radius: 1em;
                
                padding: 3em;



                

                h2{
                    margin: 0 0 0.5em 0;
                    color: c.$color1;
                }                


                h3{
                    margin: 0.5em 0 0 0;
                    color: c.$color2;
                }

                p {
                    margin: 0;
                    gap: 5em;
                    
                }

                span {

                    background-color: c.$color4;
                    padding: 0.5em;
                    margin: 0.3em 0;
                    display: inline-block;
                    border-radius: 25% / 50%;

                }
                

                img {
                    width: 100%;
                    
                    object-fit: cover;
                    border-radius: 10px;
                    border: 2px solid c.$color5;
                    margin: 0 0 1em 0;
                }

                .btn {
                    
                    text-decoration: none;
                    text-align: center;
                    color: c.$color1;
                    font-weight: bold;
                    border: 2px solid c.$color1;
                    padding: 0.5em 1em;
                    margin: 1em 0 0 0;
                    border-radius: 5px;
                    transition: background-color 0.3s, color 0.3s;

                    &:hover {
                        background-color: c.$color1;
                        color: white;
                    }

                }

            }
            
            
            .noResult {
                display: none;
                color: c.$color1;
                width: 100%;
                text-align: center;
            }



        }
        

    }
    
    .Coordonnées {

        z-index: 1;
        position: relative;
        margin: calc(-100vh + 2.5em) 0 0 0;
        padding: 100vh 0 2.5em 0;
        border-radius: 0 0 18em 0 / 0 0 10em 0;
        

        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: column;

        gap: 1em;
        background-color: c.$color4;
        
        h1 {
            color: c.$color7;
            margin: 0 0 0.1em 0;
            text-align: center;
            font-size: 3em;
        }


        .btn {
            
            text-decoration: none;
            text-align: center;
            color: c.$color7;
            font-weight: bold;
            border: 2px solid c.$color7;
            padding: 1em 2em;
            margin: 1em 0 0 0;
            border-radius: 5px;
            transition: background-color 0.3s, color 0.3s;

            &:hover {
                background-color: c.$color6;
                color: c.$color1;
            }

        }

        article {
            
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 1em;
            
            
        }




    }

}


@media screen and (min-width:769px) and (max-width:1023px) {

    .Home {
        .Intro {
            
            .Presentation {
                max-width: 90%;
                flex-direction: row;
                justify-content: space-around;
                gap: 2em;
                margin-bottom: 2em;
            }
        }



        .Projects {
            border-radius: 0 0 0 30em / 0 0 0 12em;



            .sort {
                
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                width: 60%;

            }


            .Projects_list {
                width: 80%;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-around;
                gap : 2em;

                .Project {
                    width: calc(50% - 2em);
                }
            }

        }
    }

    
}


@media screen and (min-width:1024px) {

    .Home {
        .Intro {
            border-radius: 0 0 35em 0 / 0 0 17em 0;
            .Presentation {
                
                max-width: 70%;
                flex-direction: row;
                justify-content: space-around;
                gap: 3em;
                margin-bottom: 2em;
            }
        }



        .Projects {
            border-radius: 0 0 0 50em / 0 0 0 15em;



            .sort {
                
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                
                gap: 7vw;

                .selectSort {

                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    width: fit-content;
                    


                    &:focus {
                        outline: 2px solid c.$color1;
                        
                    }

                    label {
                        
                        font-weight: bold;
                        margin-bottom: 0.5em;
                        width: 100%;
                    }




                    .btn {
                        
                        text-align: center;
                        padding: 0.5em;
                        border-radius: 5px;
                        border: 1px solid c.$color3;

                        &:focus {
                            outline: 2px solid c.$color1;
                            
                        }
                    }
        

                }





            }



            .Projects_list {
                width: 90%;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-around;
                gap : 2em;

                .Project {
                    width: calc(33% - 2em);
                }
            }

        }
    }

    
}

