@charset "UTF-8";
/* color darker to lighter */
header {
  z-index: 100;
  background-color: #EBE2F4;
  position: sticky;
  top: 0;
  border-bottom: 2px solid #D6CFFF;
}
header div {
  display: flex;
  width: 80%;
  margin: auto;
  align-items: center;
  justify-content: space-between;
}
header div h1 {
  font-size: 2.5em;
  margin-bottom: 0.5em;
}
header div a {
  text-decoration: none;
  color: black;
}
header div .btn {
  text-decoration: none;
  color: #7C4FFD;
  font-weight: bold;
  border: 2px solid #7C4FFD;
  padding: 0.5em 1em;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}
header div .btn:hover {
  background-color: #7C4FFD;
  color: white;
}

footer {
  z-index: -1;
  position: relative;
  margin: calc(-100vh + 2em) 0 0 0;
  padding: 100vh 0 2em 0;
  background-color: #7C4FFD;
  text-align: center;
}
footer p {
  font-size: 1.2em;
  color: white;
  margin: 0;
}

.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.Home .Intro {
  z-index: 4;
  position: relative;
  margin: 0 0 0 0;
  padding: 2em 0 5em 0;
  border-radius: 0 0 25em 0/0 0 12em 0;
  max-width: 100%;
  background-color: #F3F3FC;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid #7C4FFD;
}
.Home .Intro .Title h1 {
  font-size: 3em;
  margin-bottom: 0.5em;
  color: #7C4FFD;
}
.Home .Intro .Title h2 {
  font-size: 1.5em;
  margin-bottom: 1em;
  color: #A185F2;
}
.Home .Intro .Presentation {
  max-width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Home .Intro .Presentation p {
  font-size: 1.2em;
  margin: 1em 0 0 0;
  text-align: left;
}
.Home .Intro .Presentation img {
  width: 100%;
  max-width: 25em;
  border-radius: 50%;
  object-fit: cover;
}
.Home .Intro .CV h2 {
  font-size: 1.5em;
  margin-bottom: 1.5em;
  color: #A185F2;
}
.Home .Intro .CV .btn {
  text-decoration: none;
  color: #7C4FFD;
  font-weight: bold;
  border: 2px solid #7C4FFD;
  padding: 1em 2em;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}
.Home .Intro .CV .btn:hover {
  background-color: #7C4FFD;
  color: white;
}
.Home .Projects {
  z-index: 2;
  position: relative;
  margin: calc(-50vh + 3em) 0 0 0;
  padding: 50vh 0 10em 0;
  border-radius: 0 0 0 20em/0 0 0 12em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: #D6CFFF;
}
.Home .Projects .Projects_list {
  gap: 5em;
  display: flex;
  flex-direction: column;
  margin: 2em 0 0 0;
  width: 60%;
}
.Home .Projects .Projects_list .Project {
  display: flex;
  flex-direction: column;
  align-items: right;
  box-shadow: 10px 10px 30px -10px rgba(0, 0, 0, 0.75);
  background-color: #F3F3FC;
  border-radius: 1em;
  padding: 3em;
}
.Home .Projects .Projects_list .Project h3 {
  margin: 0.35em 0 0.25em 0;
}
.Home .Projects .Projects_list .Project p {
  margin: 0.1em;
}
.Home .Projects .Projects_list .Project img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  border: 2px solid #D6CFFF;
  margin: 0 0 1em 0;
}
.Home .Projects .Projects_list .Project .btn {
  text-decoration: none;
  text-align: center;
  color: #7C4FFD;
  font-weight: bold;
  border: 2px solid #7C4FFD;
  padding: 0.5em 1em;
  margin: 1em 0 0 0;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}
.Home .Projects .Projects_list .Project .btn:hover {
  background-color: #7C4FFD;
  color: white;
}
.Home .Coordonnées {
  z-index: 1;
  position: relative;
  margin: calc(-100vh + 2.5em) 0 0 0;
  padding: 100vh 0 2.5em 0;
  border-radius: 0 0 18em 0/0 0 10em 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  gap: 1em;
  background-color: #AAA0F9;
}
.Home .Coordonnées h1 {
  color: #F3F3FC;
  margin: 0 0 0.1em 0;
  font-size: 3em;
}
.Home .Coordonnées .btn {
  text-decoration: none;
  text-align: center;
  color: #F3F3FC;
  font-weight: bold;
  border: 2px solid #F3F3FC;
  padding: 1em 2em;
  margin: 1em 0 0 0;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}
.Home .Coordonnées .btn:hover {
  background-color: #EBE2F4;
  color: #7C4FFD;
}
.Home .Coordonnées article {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
  .Home .Intro .Presentation {
    max-width: 90%;
    flex-direction: row;
    justify-content: space-around;
    gap: 2em;
    margin-bottom: 2em;
  }
  .Home .Projects {
    border-radius: 0 0 0 30em/0 0 0 12em;
  }
  .Home .Projects .Projects_list {
    width: 80%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2em;
  }
  .Home .Projects .Projects_list .Project {
    width: calc(50% - 2em);
  }
}
@media screen and (min-width: 1024px) {
  .Home .Intro {
    border-radius: 0 0 35em 0/0 0 17em 0;
  }
  .Home .Intro .Presentation {
    max-width: 70%;
    flex-direction: row;
    justify-content: space-around;
    gap: 3em;
    margin-bottom: 2em;
  }
  .Home .Projects {
    border-radius: 0 0 0 50em/0 0 0 15em;
  }
  .Home .Projects .Projects_list {
    width: 90%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2em;
  }
  .Home .Projects .Projects_list .Project {
    width: calc(33% - 2em);
  }
}
.Project {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin: auto;
}
.Project .Image {
  background-color: #F3F3FC;
  position: relative;
  z-index: 1;
  position: relative;
  margin: 0 0 calc(-35vh + 3em) 0;
  padding: 1.5em 10% 35vh 10%;
  border-radius: 0 0 0 15em/0 0 0 10em;
}
.Project .Image .Selected_image {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}
.Project .Image .Selected_image img {
  width: 80%;
  max-width: 50vh;
  border: 2px solid #EBE2F4;
}
.Project .Image .Image_list {
  display: flex;
  width: 80%;
  margin: 0 auto 0 auto;
  gap: 1em;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 0 1em 0 1em;
  border: 2px solid #EBE2F4;
}
.Project .Image .Image_list img {
  width: 40%;
  object-fit: fill;
  border-radius: 10px;
  transition: transform 0.3s;
}
.Project .Image .Image_list img:hover {
  transform: scale(1.05);
}
.Project .Info {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
  position: relative;
  z-index: 2;
  padding: 5em 10% 7em 10%;
  border-radius: 0 15em 0 15em/0 12em 0 12em;
  background-color: #EBE2F4;
}
.Project .Info .Title {
  font-size: 2em;
  font-weight: bold;
}
.Project .Info .Description {
  font-size: 1.2em;
  line-height: 1.5em;
}

@media screen and (min-width: 1024px) {
  .Project {
    flex-direction: row;
    justify-content: none;
    padding: 0 0 0 0;
  }
  .Project .Image {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: static;
    z-index: 2;
    padding: 0;
    margin: 0 0 0 0;
    border-radius: 0 20vw 0 0/0 25vh 0 0;
  }
  .Project .Image .Image_list {
    max-width: 90%;
    padding: 0 50 0 0%;
  }
  .Project .Image .Image_list img {
    width: 25%;
  }
  .Project .Info {
    width: 100%;
    z-index: 1;
    border-radius: 0 0 20vw 0/0 0 25vh 0;
    margin: 0 0 0 calc(-50vw + 2em);
    position: static;
    padding: 5em 3% 0 50vw;
  }
  .Project .Info p {
    max-height: 55vh;
    overflow-y: scroll;
  }
}
* {
  box-sizing: border-box;
}

body {
  background-color: #F3F3FC;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

/*# sourceMappingURL=style.css.map */
