@charset "UTF-8";
/* color darker to lighter */
header {
  z-index: 100;
  background-color: #EBE2F4;
  position: sticky;
  top: 0;
  border-bottom: 2px solid #D6CFFF;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
header .Container {
  display: flex;
  width: 80%;
  margin: auto;
  align-items: center;
  justify-content: space-between;
}
header .Container h1 {
  font-size: 2.5em;
  margin-bottom: 0.5em;
}
header .Container a {
  text-decoration: none;
  color: black;
}
header .Container .Btn_Container {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  justify-content: flex-end;
}
header .Container .Btn_Container .btn {
  text-decoration: none;
  color: #7C4FFD;
  font-weight: bold;
  border: 2px solid #7C4FFD;
  padding: 0.5em 1em;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}
header .Container .Btn_Container .btn:hover {
  background-color: #7C4FFD;
  color: white;
}

footer {
  z-index: -1;
  position: relative;
  margin: calc(-100vh + 2em) 0 0 0;
  padding: 100vh 0 2em 0;
  background-color: #7C4FFD;
  text-align: center;
}
footer p {
  font-size: 1.2em;
  color: white;
  margin: 0;
}

.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.Home .Intro {
  z-index: 4;
  position: relative;
  margin: 0 0 0 0;
  padding: 2em 0 5em 0;
  border-radius: 0 0 25em 0/0 0 12em 0;
  width: 100%;
  background-color: #F3F3FC;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid #7C4FFD;
}
.Home .Intro .Title h1 {
  font-size: 3em;
  margin-bottom: 0.5em;
  color: #7C4FFD;
}
.Home .Intro .Title h2 {
  font-size: 1.5em;
  margin-bottom: 1em;
  color: #A185F2;
}
.Home .Intro .Presentation {
  max-width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Home .Intro .Presentation p {
  font-size: 1.2em;
  margin: 0;
  text-align: left;
}
.Home .Intro .Presentation img {
  width: 100%;
  max-width: 25em;
  border-radius: 25%;
  object-fit: cover;
}
.Home .Intro .CV h2 {
  font-size: 1.5em;
  margin-bottom: 1.5em;
  color: #A185F2;
  scroll-margin-top: 7em;
}
.Home .Intro .CV .btn {
  text-decoration: none;
  color: #7C4FFD;
  font-weight: bold;
  border: 2px solid #7C4FFD;
  padding: 1em 2em;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}
.Home .Intro .CV .btn:hover {
  background-color: #7C4FFD;
  color: white;
}
.Home .Projects {
  z-index: 2;
  position: relative;
  margin: calc(-50vh + 3em) 0 0 0;
  padding: 50vh 0 10em 0;
  border-radius: 0 0 0 20em/0 0 0 12em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: #D6CFFF;
}
.Home .Projects .Projects_list {
  gap: 5em;
  display: flex;
  flex-direction: column;
  margin: 2em 0 0 0;
  width: 60%;
}
.Home .Projects .Projects_list .Project {
  display: flex;
  flex-direction: column;
  align-items: right;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #F3F3FC;
  border-radius: 1em;
  padding: 3em;
}
.Home .Projects .Projects_list .Project h3 {
  margin: 0.5em 0 0.5em 0;
  color: #7C80FB;
}
.Home .Projects .Projects_list .Project p {
  margin: 0.1em 0 0.5em 0;
  gap: 0.5em;
}
.Home .Projects .Projects_list .Project span {
  background-color: #AAA0F9;
  padding: 0.5em;
  margin: 0.5em 0 0 0;
  border-radius: 25%/50%;
}
.Home .Projects .Projects_list .Project img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  border: 2px solid #D6CFFF;
  margin: 0 0 1em 0;
}
.Home .Projects .Projects_list .Project .btn {
  text-decoration: none;
  text-align: center;
  color: #7C4FFD;
  font-weight: bold;
  border: 2px solid #7C4FFD;
  padding: 0.5em 1em;
  margin: 1em 0 0 0;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}
.Home .Projects .Projects_list .Project .btn:hover {
  background-color: #7C4FFD;
  color: white;
}
.Home .Coordonnées {
  z-index: 1;
  position: relative;
  margin: calc(-100vh + 2.5em) 0 0 0;
  padding: 100vh 0 2.5em 0;
  border-radius: 0 0 18em 0/0 0 10em 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  gap: 1em;
  background-color: #AAA0F9;
}
.Home .Coordonnées h1 {
  color: #F3F3FC;
  margin: 0 0 0.1em 0;
  text-align: center;
  font-size: 3em;
}
.Home .Coordonnées .btn {
  text-decoration: none;
  text-align: center;
  color: #F3F3FC;
  font-weight: bold;
  border: 2px solid #F3F3FC;
  padding: 1em 2em;
  margin: 1em 0 0 0;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}
.Home .Coordonnées .btn:hover {
  background-color: #EBE2F4;
  color: #7C4FFD;
}
.Home .Coordonnées article {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
  .Home .Intro .Presentation {
    max-width: 90%;
    flex-direction: row;
    justify-content: space-around;
    gap: 2em;
    margin-bottom: 2em;
  }
  .Home .Projects {
    border-radius: 0 0 0 30em/0 0 0 12em;
  }
  .Home .Projects .Projects_list {
    width: 80%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2em;
  }
  .Home .Projects .Projects_list .Project {
    width: calc(50% - 2em);
  }
}
@media screen and (min-width: 1024px) {
  .Home .Intro {
    border-radius: 0 0 35em 0/0 0 17em 0;
  }
  .Home .Intro .Presentation {
    max-width: 70%;
    flex-direction: row;
    justify-content: space-around;
    gap: 3em;
    margin-bottom: 2em;
  }
  .Home .Projects {
    border-radius: 0 0 0 50em/0 0 0 15em;
  }
  .Home .Projects .Projects_list {
    width: 90%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2em;
  }
  .Home .Projects .Projects_list .Project {
    width: calc(33% - 2em);
  }
}
.Project {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin: auto;
}
.Project .Image {
  background-color: #F3F3FC;
  position: relative;
  z-index: 1;
  position: relative;
  margin: 0 0 calc(-35vh + 3em) 0;
  padding: 1.5em 10% 35vh 10%;
  border-radius: 0 0 0 15em/0 0 0 10em;
}
.Project .Image .Selected_image {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 2em 0 1em 0;
}
.Project .Image .Selected_image img {
  width: 100%;
  max-width: 50vh;
  border: 2px solid #EBE2F4;
}
.Project .Image .Image_list {
  display: flex;
  width: 80%;
  margin: 0 auto 0 auto;
  gap: 1em;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 0 1em 0 1em;
  border: 2px solid #EBE2F4;
}
.Project .Image .Image_list img {
  width: 40%;
  object-fit: contain;
  border-radius: 10px;
  transition: transform 0.3s;
}
.Project .Image .Image_list img:hover {
  transform: scale(1.05);
}
.Project .Info {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
  position: relative;
  z-index: 2;
  padding: 1em 10% 7em 10%;
  border-radius: 0 15em 0 15em/0 12em 0 12em;
  background-color: #EBE2F4;
}
.Project .Info .btn {
  text-decoration: none;
  color: #7C4FFD;
  font-weight: bold;
  border: 2px solid #7C4FFD;
  padding: 0.5em 1em;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  width: fit-content;
}
.Project .Info .btn:hover {
  background-color: #7C4FFD;
  color: white;
}
.Project .Info .Title {
  font-size: 2em;
  font-weight: bold;
}
.Project .Info .Description {
  font-size: 1.2em;
  line-height: 1.5em;
}
.Project .Info .skill {
  padding: 0.5em;
  margin: 0;
}
.Project .Info .skill span {
  background-color: #AAA0F9;
  padding: 0.5em;
  margin: 0.5em 0 0 0;
  border-radius: 25%/50%;
}
.Project .Info div {
  max-height: 60vh;
  overflow-y: auto;
  margin-bottom: 10vh;
}

@media screen and (min-width: 1024px) {
  .Project {
    flex-direction: row;
    justify-content: none;
    padding: 0 0 0 0;
  }
  .Project .Image {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: static;
    z-index: 2;
    padding: 0;
    margin: 0 0 0 0;
    border-radius: 0 20vw 0 0/0 25vh 0 0;
  }
  .Project .Image .Selected_image {
    width: 100%;
  }
  .Project .Image .Selected_image img {
    width: 100%;
    max-width: 50vw;
    border: 2px solid #EBE2F4;
  }
  .Project .Image .Image_list {
    max-width: 90%;
    padding: 0 50 0 0%;
  }
  .Project .Image .Image_list img {
    width: 25%;
  }
  .Project .Info {
    width: 100%;
    z-index: 1;
    border-radius: 0 0 20vw 0/0 0 25vh 0;
    margin: 0 0 0 calc(-50vw + 2em);
    position: static;
    padding: 1em 3% 0 50vw;
  }
  .Project .Info p {
    max-height: 55vh;
    overflow-y: auto;
  }
}
.P404 {
  background-color: #F3F3FC;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.P404 .Title {
  font-size: 8em;
  color: #7C4FFD;
  margin: 0;
  text-align: center;
}
.P404 .Description {
  font-size: 2em;
  color: #7C80FB;
  margin: 1em 0;
  text-align: center;
}
.P404 .btn {
  width: fit-content;
  text-decoration: none;
  text-align: center;
  color: #7C4FFD;
  font-weight: bold;
  border: 2px solid #7C4FFD;
  padding: 1em 2em;
  margin: 1em 0 0 0;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}
.P404 .btn:hover {
  background-color: #7C4FFD;
  color: white;
}

.Login {
  background-color: #F3F3FC;
  display: flex;
  z-index: 1;
  border-radius: 0 0 0 60vw/0 0 0 30vh;
}
.Login .Login_form {
  background-color: #D6CFFF;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  margin: auto;
  padding: 2em;
  width: 80vw;
  border-radius: 15em 0.5em 9em 0.5em/8em 0.5em 5em 0.5em;
}
.Login .Login_form form {
  display: flex;
  flex-direction: column;
}
.Login .Login_form form input {
  border: 1px solid #AAA0F9;
  border-radius: 5px;
  margin-bottom: 5%;
  padding: 0.5em;
}
.Login .Login_form form input:focus {
  border: 2px solid #7C4FFD;
  outline: none;
}
.Login .Login_form form .btn {
  text-decoration: none;
  text-align: center;
  color: #7C4FFD;
  font-weight: bold;
  border: 2px solid #7C4FFD;
  padding: 1em 2em;
  margin: 1em 0 0 0;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}
.Login .Login_form form .btn:hover {
  background-color: #7C4FFD;
  color: white;
}

@media screen and (min-width: 1024px) {
  .Login .Login_form {
    border-radius: 25vw 1vw 25vw 0.5em/15vh 1vh 15vh 0.5em;
    width: 50vw;
    padding: 5vw;
  }
  .Login .Login_form h1 {
    font-size: 3em;
  }
  .Login form {
    max-width: 25vw;
    margin: auto;
  }
}
.Dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Dashboard .Profil_info {
  padding: 0 10% 5em 10%;
  background-color: #F3F3FC;
  width: 100%;
  gap: 1.5em;
  border-radius: 0 0 60vw 0/0 0 25vh 0;
  z-index: 2;
  position: relative;
}
.Dashboard .Profil_info form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Dashboard .Profil_info form article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  display: flex;
  flex-direction: column;
}
.Dashboard .Profil_info form article textarea {
  height: 20vh;
}
.Dashboard .Profil_info form article .ql-container.ql-snow {
  border: 1px solid #A185F2;
  background-color: white;
  max-height: 20vh;
  overflow-y: auto;
}
.Dashboard .Profil_info form article .ql-container.ql-snow:focus-within {
  outline: 2px solid #7C4FFD;
}
.Dashboard .Profil_info form article .ql-toolbar.ql-snow {
  border: 1px solid #A185F2;
  background-color: #D6CFFF;
  color: white;
}
.Dashboard .Profil_info form article .File_input {
  display: none;
}
.Dashboard .Profil_info form article label img {
  object-fit: cover;
  width: 100%;
  max-height: 70vh;
  max-width: 60vw;
  border-radius: 25%;
  cursor: pointer;
}
.Dashboard .Profil_info form article label img:hover {
  filter: brightness(0.75);
}
.Dashboard .Profil_info form article .btn {
  text-decoration: none;
  text-align: center;
  color: #7C4FFD;
  font-weight: bold;
  border: 2px solid #7C4FFD;
  padding: 1em 2em;
  margin: 1em 0 0 0;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  width: fit-content;
}
.Dashboard .Profil_info form article .btn:hover {
  background-color: #7C4FFD;
  color: white;
}
.Dashboard .Crud {
  width: 100%;
  background-color: #D6CFFF;
  padding: calc(50vh - 5em) 10% 5em 10%;
  margin: -50vh 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  z-index: 1;
  position: relative;
  border-radius: 0 0 0 60vw/0 0 0 25vh;
}
.Dashboard .Crud :nth-child(even) {
  border-radius: 1vw 25vw 0.5vw 25vw/1vh 15vh 0.5vh 15vh;
}
.Dashboard .Crud article {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  padding: 5vh;
  background-color: #EBE2F4;
  border-radius: 25vw 1vw 25vw 0.5em/15vh 1vh 15vh 0.5em;
}
.Dashboard .Crud article h1 {
  margin: 0 0 0 0;
}
.Dashboard .Crud article .link {
  display: flex;
  gap: 1em;
}
.Dashboard .Crud article .link a {
  text-decoration: none;
  text-align: center;
  color: #7C4FFD;
  font-weight: bold;
  border: 2px solid #7C4FFD;
  padding: 1em 2em;
  margin: 1em 0 1em 0;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}
.Dashboard .Crud article .link a:hover {
  background-color: #7C4FFD;
  color: white;
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
  .Dashboard .Profil_info img {
    max-width: 40vw;
  }
}
@media screen and (min-width: 1024px) {
  .Dashboard .Profil_info form {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
  }
  .Dashboard .Profil_info form article {
    width: calc(40% - 2em);
    display: flex;
    flex-direction: column;
  }
  .Dashboard .Profil_info form article input, .Dashboard .Profil_info form article textarea {
    margin: 0.7em 0;
    padding: 0.5em;
    border-radius: 5px;
    border: 1px solid #A185F2;
  }
  .Dashboard .Profil_info form article input:focus, .Dashboard .Profil_info form article textarea:focus {
    outline: 2px solid #7C4FFD;
  }
  .Dashboard .Profil_info h1 {
    width: 100%;
    font-size: 3em;
    margin: 1em 0 0 0;
    text-align: center;
  }
  .Dashboard .Profil_info h2 {
    width: 100%;
  }
  .Dashboard .Profil_info img {
    max-width: 20vw;
  }
  .Dashboard .Crud {
    width: 100%;
    background-color: #D6CFFF;
    padding: calc(50vh - 5em) 10% 5em 10%;
    margin: -50vh 0 0 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .Dashboard .Crud h2 {
    width: 100%;
  }
  .Dashboard .Crud :nth-child(even) {
    border-radius: 1vw 25vw 0.5vw 25vw/1vh 15vh 0.5vh 15vh;
  }
  .Dashboard .Crud article {
    width: calc(33% - 2em);
    text-align: center;
  }
}
.List {
  background-color: #F3F3FC;
  border-radius: 0 0 50vw 0/0 0 25vh 0;
}
.List section {
  padding: 3em 10% 5em 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}
.List section h1 {
  font-size: 2.5em;
  margin: 0 0 0.5em 0;
  color: #7C4FFD;
}
.List section h2 {
  font-size: 2em;
  margin: 0;
  color: #7C80FB;
}
.List section h3 {
  margin: 0;
  padding: 0;
  color: #7C80FB;
}
.List section .Title-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1em;
}
.List section .Title-Container a {
  height: fit-content;
}
.List section .Title-Container .btn {
  text-decoration: none;
  color: #7C4FFD;
  font-weight: bold;
  border: 2px solid #7C4FFD;
  padding: 0.5em 1em;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}
.List section .Title-Container .btn:hover {
  background-color: #7C4FFD;
  color: white;
}
.List section article {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 1em;
  border-radius: 1em;
  width: 80vw;
}
.List section article h4 {
  color: #A185F2;
  margin: 0;
}
.List section article img {
  max-width: 50%;
  border: 1px solid #D6CFFF;
  margin: 0 25% 1em 25%;
}
.List section article p {
  overflow-x: auto;
  display: flex;
  flex-wrap: nowrap;
  gap: 1em;
}
.List section article p span {
  background-color: #EBE2F4;
  text-align: center;
  padding: 0.5em;
  border-radius: 0.5em;
}
.List section article div {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}
.List section article div .btn {
  text-decoration: none;
  color: #A185F2;
  font-weight: bold;
  border: 2px solid #A185F2;
  padding: 0.5em 1em;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}
.List section article div .btn:hover {
  background-color: #A185F2;
  color: white;
}
.List section article div .Edit {
  text-decoration: none;
  color: #7C80FB;
  font-weight: bold;
  border: 2px solid #7C80FB;
  padding: 0.5em 1em;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}
.List section article div .Edit:hover {
  background-color: #7C80FB;
  color: white;
}
.List section article div .Delete {
  text-decoration: none;
  color: #7C4FFD;
  font-weight: bold;
  border: 2px solid #7C4FFD;
  padding: 0.5em 1em;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}
.List section article div .Delete:hover {
  background-color: #7C4FFD;
  color: white;
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
  .List section {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .List section article {
    width: calc(50% - 2em);
  }
}
@media screen and (min-width: 1024px) {
  .List section {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .List section article {
    width: calc(33.3333333333% - 2em);
  }
}
.Createdit {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.Createdit .ql-container.ql-snow {
  border: 1px solid #A185F2;
  background-color: white;
  height: 40vh;
  overflow-y: auto;
}
.Createdit .ql-container.ql-snow:focus-within {
  outline: 2px solid #7C4FFD;
}
.Createdit .ql-toolbar.ql-snow {
  border: 1px solid #A185F2;
  background-color: #D6CFFF;
  color: white;
}
.Createdit .Form_skillCategory {
  width: 100%;
  border-radius: 0 0 50vw 0/0 0 20vh 0;
}
.Createdit .Form_skillCategory input[type=range] {
  width: 100%;
}
.Createdit .Form_createdit, .Createdit .Form_skillCategory {
  background-color: #F3F3FC;
  padding: 2em 10% 5em 10%;
  z-index: 2;
  position: relative;
  margin: calc(-50vh + 2em) 0 0 0;
  padding: 50vh 10% 5em 10%;
  border-radius: 0 0 50vw 0/0 0 20vh 0;
}
.Createdit .Form_createdit h1, .Createdit .Form_skillCategory h1 {
  font-size: 2.5em;
  margin: 0;
  color: #7C4FFD;
}
.Createdit .Form_createdit form, .Createdit .Form_skillCategory form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 2em 10% 5em 10%;
}
.Createdit .Form_createdit form label, .Createdit .Form_skillCategory form label {
  font-weight: bold;
  color: #7C4FFD;
}
.Createdit .Form_createdit form label input, .Createdit .Form_skillCategory form label input {
  display: none;
}
.Createdit .Form_createdit form .Skills_Checkbox, .Createdit .Form_skillCategory form .Skills_Checkbox {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  margin: 0 0 2.5em 0;
}
.Createdit .Form_createdit form .Skills_Checkbox .Skills, .Createdit .Form_skillCategory form .Skills_Checkbox .Skills {
  text-decoration: none;
  text-align: center;
  color: #7C4FFD;
  font-weight: bold;
  border: 2px solid #7C4FFD;
  padding: 1em 2em;
  margin: 0;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  width: fit-content;
}
.Createdit .Form_createdit form .Skills_Checkbox .Skills:has(input:checked), .Createdit .Form_skillCategory form .Skills_Checkbox .Skills:has(input:checked) {
  background-color: #7C4FFD;
  color: white;
}
.Createdit .Form_createdit form select, .Createdit .Form_skillCategory form select {
  padding: 0.5em;
  border-radius: 5px;
  border: 1px solid #A185F2;
}
.Createdit .Form_createdit form select:focus, .Createdit .Form_skillCategory form select:focus {
  outline: 2px solid #7C4FFD;
}
.Createdit .Form_createdit form input, .Createdit .Form_createdit form textarea, .Createdit .Form_skillCategory form input, .Createdit .Form_skillCategory form textarea {
  padding: 0.5em;
  border-radius: 5px;
  border: 1px solid #A185F2;
}
.Createdit .Form_createdit form input:focus, .Createdit .Form_createdit form textarea:focus, .Createdit .Form_skillCategory form input:focus, .Createdit .Form_skillCategory form textarea:focus {
  outline: 2px solid #7C4FFD;
}
.Createdit .Form_createdit form textarea, .Createdit .Form_skillCategory form textarea {
  resize: none;
  min-height: 15vh;
  height: fit-content;
  max-height: 50vh;
  display: none;
}
.Createdit .Form_createdit form .Add_Image, .Createdit .Form_skillCategory form .Add_Image {
  text-decoration: none;
  text-align: center;
  color: #7C80FB;
  font-weight: bold;
  border: 2px solid #7C80FB;
  padding: 1em 2em;
  margin: 0;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}
.Createdit .Form_createdit form .Add_Image:hover, .Createdit .Form_skillCategory form .Add_Image:hover {
  background-color: #7C80FB;
  color: white;
}
.Createdit .Form_createdit form .Project_Images, .Createdit .Form_skillCategory form .Project_Images {
  display: none;
}
.Createdit .Form_createdit form .btn, .Createdit .Form_skillCategory form .btn {
  text-decoration: none;
  text-align: center;
  color: #7C4FFD;
  font-weight: bold;
  border: 3px solid #7C4FFD;
  padding: 1em 2em;
  margin: 1em 0 0 0;
  border-radius: 5px;
}
.Createdit .Form_createdit form .btn:hover, .Createdit .Form_skillCategory form .btn:hover {
  background-color: #7C4FFD;
  color: white;
}
.Createdit .Picture {
  background-color: #EBE2F4;
  display: flex;
  flex-direction: column;
  gap: 1em;
  z-index: 1;
  position: relative;
  margin: calc(-50vh + 2em) 0 0 0;
  padding: 50vh 10% 5em 10%;
  border-radius: 0 0 0 60vw/0 0 0 20vh;
}
.Createdit .Picture h2 {
  color: #7C4FFD;
  font-size: 2em;
}
.Createdit .Picture div {
  gap: 1em;
  display: flex;
  flex-direction: column;
}
.Createdit .Picture div article {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
  align-items: center;
  background-color: #D6CFFF;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 1em;
  padding: 1em;
}
.Createdit .Picture div article img {
  max-height: 25vh;
  height: fit-content;
  width: 100%;
  max-width: 50vw;
  border-radius: 1em;
  object-fit: cover;
}
.Createdit .Picture div article .btn {
  text-decoration: none;
  text-align: center;
  color: #7C4FFD;
  font-weight: bold;
  border: 3px solid #7C4FFD;
  padding: 1em 2em;
  margin: 0;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}
.Createdit .Picture div article .btn:hover {
  background-color: #7C4FFD;
  color: white;
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
  .Createdit .Picture {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .Createdit .Picture h2 {
    width: 100%;
    text-align: center;
  }
  .Createdit .Picture div {
    gap: 1em;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .Createdit .Picture div article {
    width: calc(50% - 1em);
  }
  .Createdit .Picture div article img {
    width: 100%;
    max-width: none;
  }
}
@media screen and (min-width: 1024px) {
  .Createdit {
    flex-direction: row;
  }
  .Createdit .Form_skillCategory {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .Createdit .Form_skillCategory form {
    width: 50%;
  }
  .Createdit .Form_skillCategory .btn {
    width: fit-content;
  }
  .Createdit .Form_createdit {
    width: 70vw;
    padding: 2em 1em 5em 5%;
    margin: 0 0 0 0;
    border-radius: 0 35vw 0 60vw/0 30vh 0 20vh;
    z-index: 2;
    position: relative;
  }
  .Createdit .Form_createdit form textarea {
    height: 30vh;
  }
  .Createdit .Form_createdit form .Add_Image {
    width: fit-content;
  }
  .Createdit .Form_createdit form .btn {
    width: fit-content;
    padding: 2em;
    transition: background-color 0.3s, color 0.3s;
  }
  .Createdit .Form_createdit form .btn:hover {
    background-color: #7C4FFD;
    color: white;
  }
  .Createdit .Picture {
    width: 80vw;
    margin: 0 0 0 -50vw;
    padding: 2em 5% 0 calc(50vw + 2em);
    border-radius: 0;
    z-index: 1;
    position: relative;
    border-radius: 0 0 0 50vw/0 0 0 50vh;
  }
  .Createdit .Picture div {
    max-height: 80vh;
    overflow-y: auto;
  }
  .Createdit .Picture div article {
    width: fit-content;
  }
  .Createdit .Picture div article img {
    width: calc(40vw - 2em);
    max-width: 10vw;
    border-radius: 1vw;
  }
}
* {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #F3F3FC;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

p,
h1,
h2,
h3,
h4 {
  max-width: 100%;
  overflow-wrap: break-word;
}

a {
  color: #7C80FB;
  text-decoration: none;
  font-weight: bold;
}
a:hover {
  color: #7C4FFD;
  text-decoration: underline;
}

/*# sourceMappingURL=style.css.map */
